body {
    background-color: rgb(196, 196, 196);
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 65px;
    text-align: center;
    color: #192547;

}
img {
    width: 400px;
    height: 300px;
    margin-top: 5px;
    margin-left: 450px;
    margin-bottom: 15px;

}
.input-phrase {
    font-family: 'Kanit', sans-serif;
    margin-left: 405px;
}

#button {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    background: #4c85a0;
    color: #ffffff;
}

#button:hover {
    background: #284653;
    color: #ffffff;
}

#res {
    font-family: 'Satisfy', cursive;
    font-size: 21px;
    margin-top: 25px;
    background-color: #4e6475;
    border-radius: 15px;
    width: 300px;
    margin-left: 480px;
    text-align: center;
    position: absolute;
}